* {
    margin: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

header {
    width: 100%;
    height: 60vw;
    text-align: center;
}

header img {
    width: 100%;
    height: 60vw;
    border-bottom: 5px solid rgba(77, 71, 71, 0.4);
}

header div {
    position: absolute;
    width: 100%;
    top: 10vw;
}

header h1 {
    font-size: 5vw;
    color: rgb(145, 187, 223);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-style: italic;
    cursor: default;
    position: relative;
    top: 6vw;
}

/* NAV */


nav {
    position: fixed;
    top: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    z-index: 2;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    padding: 1vw 2vw;
    margin: 0 17vw;
    font-size: 2.5vw;
    background-color: rgba(255,255,255,0.5);
    border-radius: 30px;

    transition: 0.3s;
} nav ul:hover{
    background-color: rgba(255,255,255,0.6);
}

nav a {
    color: rgb(119, 78, 29);
    text-decoration: none;
    transition: 0.1s;
} nav a:hover {
    text-shadow: 0.5px 0.5px rgb(154, 99, 32);
}



/* MAIN */

main {
    width: 100%;
    padding: 5vw;
    background-color: #f0e9e9;
    background: linear-gradient(rgb(176, 190, 211), rgb(75, 75, 103));
}

main h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
}

section {
    width: 100%;
    padding: 5vw 5vw 0 5vw;
}

article {
    width: 100%;
    height: 15vw;
    background-color: rgb(138, 163, 178);
    border: 2px solid rgb(94, 131, 155);
    border-radius: 5px;
    align-items: center;
    display: flex;
    padding: 0 2vw;
    font-size: 1.4vw;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5vw;
    cursor: default;

    transition: 0.3s;

}
article:hover {
    background-color: rgb(134, 172, 198);
}


article div {
    border-right: 2px solid rgba(36, 99, 138, 0.7);
    padding-right: 0.6vw;
}


h3 {
    width: max-content;
}
h4 {
    width: max-content;
    margin: 1vw 0 1vw 0.5vw;
}

article div p {
    margin-left: 1.5vw;
}

.descriptif {
    margin: 0 2.5vw;
    font-size: 1.2vw;
    width: 55%;
    border-left: 3px solid rgba(74, 121, 151, 0.8);
    padding-left: 1vw;
}

article img {
    height: 80%;
    margin-right: 2vw;
    border-radius: 4px;

    transition: 0.2s
}
article img:hover {
    opacity: 0.8;
}


svg {
    width: 3.5vw;
    margin: auto;
    padding: 0.5vw;
    cursor: pointer;
    border-radius: 5px;
    
    transition: 0.2s;
}
svg:hover {
    background-color: rgba(74, 121, 151, 0.4);
}


/* PANIER */


#panier {
    text-align: center;
    width: 100%;
    padding: 0 20% 3vw 20%;
    background-color: rgba(75, 75, 103, 0.8);
    border-radius: 50%;
}

#panier h2{
    font-size: 2.3vw;
    padding: 1.5vw 0 1vw 0;
}
#panier p {
    font-size: 1.2vw;
    margin-top: 0.2vw;
    font-family: 'Ubuntu', sans-serif;
}

button {
    margin-top: 1vw;
    padding: 0.5vw;
    width: 15vw;
    font-size: 1.5vw;
}




/* FOOTER */

footer {
    width: 100%;
    text-align: center;
    background-color: rgba(104, 77, 77, 0.4);
    font-size: 2vw;
}
footer p {
    padding: 1vw;
    font-family: 'Exo 2', sans-serif;
    cursor: default;
}


/* RESPONSIVE */


@media screen and (max-width: 650px) {
    header {
        height: 80vw;
    }
    header img {
        height: 80vw;
    }
    nav ul {
        margin: 0;
        width: 100%;
        border-radius: 5px;
        font-size: 4vw;
    }

    main {
        padding: 1vw;
    }

    article {
        margin-bottom: 10vw;
    }
}

@media screen and (max-width: 500px) {
    header {
        height: 100vw;
    }
    header img {
        height: 100vw;
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 140vw;
    }
    header img {
        height: 140vw;
    }
}